/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #2788dc;
  --text-primary: #333;
  --text-secondary: #68717c;
  --text-light: #9a9c9e;
  --bg-color: #fff;
  --bg-muted: #FAFAFA;
  --border: #ccc;
  --bg-color-op: rgb(222, 226, 230, 0.8);
  --bg-light: rgb(255, 255, 255, 0.8);
  --font-family-sans-serif: 'Manrope', sans-serif;
  --font-extrabold: 800;
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --padding-desktop: 48px;
  --padding-mobile: 16px;
}

@import '1_helpers/variables';
@import '1_helpers/mixins';
@import '1_helpers/utils';
@import '2_tools/reset';
@import '3_base/typography';
@import '4_components/buttons';



html {
  height: -webkit-fill-available;
}


body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bg-muted);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.copyText {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary);
  background: var(--bg-color);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: var(--text-primary);
}


p.icon-label {
  padding-top: 0.45rem !important;
  user-select: none;
  @include transition(opacity, 200ms);
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.icon svg {
  @include transition(transform, 200ms);
}


.icon-wrapper:hover {
  background-color: var( --bg-color-op);
  backdrop-filter: blur(6px);
  svg {
    transform: scale(2);
  }

  p {
    opacity: 0;
  }
}


.hide-scroll {
  overflow-y: hidden;
  @include media-breakpoints($breakpoint-md) {
    overflow-y: auto;
  }
}

