<header class="sticky" [ngClass]="{'showSearchBar': showSearch}">
  <div class="search-container">
    <img src="assets/search.svg" width="20px" height="20px" alt="Search Icon">
    <span (click)="showSearchBar();" class="search-text"
    *ngIf="!showSearch" >Search</span>
    <form class="search-form" 
    (ngSubmit)="searchIcons()" #searchForm="ngForm" >
      <input class="form-control" type="search" placeholder="Search"
        name="searchModel" [(ngModel)]="searchModel" #searchInput>
      <a class="btn btn-link p-3" (click)="hideSearchBar()">Cancel</a>
    </form>
   
  </div>
  <div class="filter-details  pb-0" *ngIf="!showSearch && iconType.length>1"
    [ngClass]="{ 'transform-nav' : transformNav , 'no-transform-nav' : !transformNav }"
   
  >
    <ul class="icon-type" >
      <li class="filter-item" *ngFor="let filter of iconType">
        <a class="btn btn-small" (click)="filterIcons(filter.type)"
          [ngClass]="{ 'active': filter.active}">
          {{ filter.type | titlecase }}
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="library-details" *ngIf="!showSearch">
  <h4 class="library-name">
    {{ selectedlibraryDetail.name}}
    <span class="external-link" (click)= "goToUrl(selectedlibraryDetail.link)"> 
    </span>
  </h4>
  <div class="license">{{ selectedlibraryDetail.license}} License</div>
</div>

<div class="icon-grid ml-4 mr-4" [ngClass]="{'mt-grid' : showSearch }">
  <app-icon-grid [svg]="icon.svg" [IconName]="icon.name"
    *ngFor="let icon of iconsList"></app-icon-grid>
</div>

<div class="no-results" *ngIf="noresult && showSearch">
  <img src="assets/noresults.svg" alt="">
  <h3 class="pt-6">No results found!</h3>
  <p class="pt-4">Can't find any item matching your search.</p>
</div>
<div class="type-something"
  *ngIf="!this.searchModel && !noresult && showSearch && !iconsList.length">
  <img src="assets/typing.svg" alt="">
  <h3 class="pt-6">Type something to search</h3>
</div>

 <div class="fab" (click)="scrollToTop()" [ngClass]="{'showScrollToTop':showScrollTopButton}" *ngIf="!showSearch">
  <svg width="29" height="21" viewBox="0 0 29 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="29" height="21">
    <rect x="0.585938" y="0.546875" width="27.5728" height="19.7479" fill="white"/>
    </mask>
    <g mask="url(#mask0)">
    <path d="M6.83594 12.6017L14.3731 5.06445L21.9103 12.6017" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    </svg>
</div>