@import '../../styles/1_helpers/variables';
@import '../../styles/1_helpers/mixins';
@import '../../styles/1_helpers/utils';

.sticky {
  position: fixed;
  top: 0;
  z-index: 9;
  left: 0;
  right: 0;
  background-color: transparent;
  font-size: 0.875rem;
  will-change: transfrom;
  @include transition(left, 80ms);
  border-bottom: var(--border) solid 1px;
  box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);


  @include media-breakpoints($breakpoint-md) {
    left: 200px;
    z-index: 11;
  }
}


.filter-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  margin-top: 60px;
  opacity: 1;
  @include transition(all, 150ms);

  @include media-breakpoints($breakpoint-md) {
    position: absolute;
    flex-wrap: nowrap;
    left: 50%;
    top: 0;
    bottom: unset;
  }
}



.icon-type {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: var(--bg-color-op);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 2px;



  @include media-breakpoints($breakpoint-md) {
    justify-content: flex-end;
  }


  >li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.library-name {
  text-align: center;
  display: flex;
  font-size: 0.875rem;

  .external-link {
    will-change: transform;
    stroke: var(--text-secondary);
    cursor: pointer;
    opacity: 0.6;
    margin-left: 0.5rem;
    background: url(/assets/link.svg) center no-repeat;
    background-size: 18px;
    display: inline-block;
    width: 18px;
    height: 18px;
    @include transition(transform, 250ms);

  }

  @include media-breakpoints($breakpoint-md) {
    display: flex;
    align-items: center;
    font-size: inherit;
  }

  &:hover {
    .external-link {
      opacity: 1;
      transform: translateX(4px);
    }
  }
}


.library-details {
  position: fixed;
  bottom: 8px;
  z-index: 12;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;

  @include media-breakpoints($breakpoint-md) {
    transform: unset;
    bottom: unset;
    left: unset;
    position: unset;
    display: flex;
    justify-content: space-between;
    margin: 4rem 1rem 1rem 1rem;

  }
}

.license {
  font-size: 0.75rem;
  color: var(--text-secondary);
  text-align: center;

  @include media-breakpoints($breakpoint-md) {
    font-size: 0.875rem;
  }

}

.search-container {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 1rem;
  backdrop-filter: blur(6px);
  width: auto;
  flex: 1 1 100%;
  @include transition(all, 400ms);
  display: none;

  @include media-breakpoints($breakpoint-md) {
    background: var(--bg-light);
    display: flex;

  }



  input[type=search] {
    width: 100%;
    padding: 0 0.5rem;
    font-size: 1.4rem;
    font-weight: var(--font-medium);
    border: 1px solid transparent;
    outline: none;
    background: transparent;
  }

  input[type=search]::-webkit-input-placeholder {
    font-size: 1rem;
  }

  input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

.showSearchBar {
  left: 0;
  box-shadow: 0 3px 9px rgb(40 44 63 / 20%);

  .filter-details {
    opacity: 0;
  }

  .search-form {
    display: flex;
  }
}


.showSearchBar .search-container {
  display: flex !important;
}

.icon-grid {
  display: grid;
  gap: 0.875rem;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-row-gap: 1rem;
  grid-auto-rows: max-content;
  position: relative;

}


.mt-grid {
  @include media-breakpoints($breakpoint-md) {
    margin-top: 3.5rem;
  }
}

.grid-margin {
  margin-top: 5rem;
}


.nav-icon {
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 24px;

}

.nav-item {
  display: inline-flex;
  position: relative;
  padding: 0.6rem 0.6rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  color: var(--text-primary);

  .nav-link {
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.04);
    color: #000;
    font-weight: var(--font-bold);

  }

}




.library-title {
  display: none;
  cursor: pointer;

  @include media-breakpoints($breakpoint-md) {
    padding-right: 1.5rem;
    float: left;
    display: flex;
    align-items: center;

  }

  .link {
    opacity: 0;
    will-change: transform;
    transform: translateX(0);
    @include transition(transform, 100ms);

  }

  &:hover {
    .link {
      opacity: 1;
      transform: translateX(8px);
    }
  }

}



.library {
  position: relative;

  @include media-breakpoints($breakpoint-md) {
    flex: 0 0 25%;
  }
}



.navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0.75rem;

  @include media-breakpoints($breakpoint-md) {
    flex-direction: column;
  }
}

.search-form {
  flex: 1;
  display: flex;
  display: none;
}

.no-results,
.type-something {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.search-text {
  font-size: 0.875rem;
  padding: 0.5rem;
  min-width: 250px;
}

.transform-nav {


  @include media-breakpoints($breakpoint-md) {
    transform: translateY(-52px) translateX(-50%);
  }
}

.no-transform-nav {
  @include media-breakpoints($breakpoint-md) {
    transform: translateY(0) translateX(-50%);
  }

}

.fab {
  position: fixed;
  bottom: 2rem;
  top: 0;
  left: 50%;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 0;
  transform: translate(-50%, 10rem);
  padding: 0.4rem 0.4rem;
  color: #fff;
  font-size: 0.875rem;
  @include transition(all, 250ms);
  background-color: rgb(0 0 0 /25%);


  @include media-breakpoints($breakpoint-md) {
    width: 48px;
    height: 48px;
    right: 2rem;
    left: unset;
    top: unset;
    padding: 0;
    transform: translateY(10rem);
    background-color: rgb(0 0 0 /25%);

    &:hover {
      background-color: #2788dc;

      @include media-breakpoints($breakpoint-md) {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
      }
    }
  }


}

.showScrollToTop {
  transform: translate(-50%, 20px);
  opacity: 1;

  @include media-breakpoints($breakpoint-md) {
    transform: translateY(0);
  }
}

.btn-small {
  width: 100%;
  text-align: center;
}
