<aside class="side-nav">
	<app-aside (sendSelectedLibraryDetails) = "getSelectedLibraryDetails($event)"></app-aside>
</aside>

<div class="main-container" [ngClass]="{'section-padding': !searchState}">
<main class="main-section mb-64">
	<router-outlet></router-outlet>
</main>
<footer class="footer footer-text">
	Made with &nbsp; 
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
	  viewBox="0 0 16 16">
	  <path fill="#E91D1D" fill-rule="evenodd"
	    d="M2.538 4.138a3.2 3.2 0 014.524 0L8 5.074l.938-.936a3.2 3.2 0 114.524 4.524L8 14.126 2.538 8.662a3.2 3.2 0 010-4.524z"
	    clip-rule="evenodd" />
	</svg>
	&nbsp; 
	by &nbsp;
	<a class="btn btn-link link" href="https://www.instagram.com/muruganandam_ui/" target="_blank">
		Muruganandam
	</a>
</footer>
</div>