@import '../styles/1_helpers/variables';
@import '../styles/1_helpers/mixins';
@import '../styles/1_helpers/utils';


aside {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 56px;
  width: 100%;
  z-index: 11;
  @include media-breakpoints($breakpoint-md) {
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    z-index: 1;

  }
}

.main-container {
  padding: 0;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    'fixed'
    'grid';
  grid-template-rows: auto 1fr;
  overflow-y: auto;

  @include media-breakpoints($breakpoint-md) {
    grid-template-areas:
      'fixed'
      'grid';
    grid-template-columns: 1fr;
  }
}


.section-padding {
  @include media-breakpoints($breakpoint-md) {
    padding: 0 0 1.25rem 200px;

  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 10rem 1rem;

  @include media-breakpoints($breakpoint-md) {
    padding: 0.5rem 1rem;
  }
}

.footer-text {
  text-align: center;
  font-size: 0.75rem;
  color: var(--text-secondary);
  opacity: 0.8;
}

.main-section {
  min-height: 95vh;
}

