.btn {
  cursor: pointer;
  
  &.btn-primary {
    padding: 0.8rem 1rem;
    border: 1px solid var(--border);
    color: var(--text-secondary);
    font-size: 1rem;
    background: transparent;
    border-radius: 0.5rem;

    &:hover {
      background: var(--primary);
      border: 1px solid var(--primary);
      color: #fff;
    }
  }
  &.btn-copy {
    padding: 0.45rem 0;
    width: 100%;
    border: none;
    background-color: var(--bg-muted);
    font-weight: var(--font-semibold);
    text-align: center;
    color: var(--text-primary);

    &:hover {
      background-color: #2788dc;
      color: var(--bg-color);
      transform: translateY(0);
    }
  }

  &.btn-link {
    font-size: inherit;
    font-weight: inherit;
    border: none;
    color: #1976d2;
  }

  &.btn-small {
    border: none;
    font-size: 0.875rem;
    font-weight: var(--font-regular);
    height: 28px;
    padding: 0 1rem ;
    color: var(--text-secondary);
    cursor: pointer;
    line-height: 28px;
    border-radius: 0;
    border-radius: 16px;

    &:hover {
      color: var(--text-primary);
      transform: translateY(0);
    }

    &.active {
      background-color: #fff;
      color: #000;
      font-weight: var(--font-semibold);
      box-shadow: 0 1px 1px rgba(0,0,0,0.16);
    }

  }
}
